<script src="{{ 'order.js' | asset_url }}" defer="defer"></script>
{{ 'order.css' | asset_url | stylesheet_tag }}

<div class="account">
  <div class="container">
    <h1 class="text-center">
      {{ 'customer.order.title' | t: name: order.name | replace: '#', 'No.' }}
      <span>{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</span>
    </h1>

    {% if order.cancelled %}
      {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
      <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
      <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
    {% endif %}

    {% render 'account-page-selector' %}

    <div class="row">
      <div class="col-md-8">
        <div class="account__order-table">
          <table class="responsive-table">
            <thead>
              <tr>
                <th>{{ 'customer.order.product' | t }}</th>
                <th>{{ 'customer.order.sku' | t }}</th>
                <th>{{ 'customer.order.price' | t }}</th>
                <th>{{ 'customer.order.quantity' | t }}</th>
                <th>{{ 'customer.order.total' | t }}</th>
              </tr>
            </thead>

            <tbody>
              {% for line_item in order.line_items %}
                <tr id="{{ line_item.key }}" class="responsive-table-row">
                  <td data-label="{{ 'customer.order.product' | t }}">
                    {{ line_item.title | link_to: line_item.product.url }}
                    {% if line_item.fulfillment %}
                      <dl>
                        <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                        <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

                        {% if line_item.fulfillment.tracking_url %}
                          <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                          <dd>
                            <a href="{{ line_item.fulfillment.tracking_url }}" title="{{ 'customer.order.track_shipment' | t }}">
                              {{ 'customer.order.track_shipment' | t }}
                            </a>
                          </dd>
                        {% endif %}

                        <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                        <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                        {% if line_item.fulfillment.tracking_number %}
                          <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                          <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                        {% endif %}
                      </dl>
                    {% endif %}
                  </td>
                  <td data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
                  <td data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
                  <td data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                  <td data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>

            <tfoot>
              <tr class="responsive-table-row">
                <td colspan="4" class="d-none d-md-block">{{ 'customer.order.subtotal' | t }}</td>
                <td data-label="{{ 'customer.order.subtotal' | t }}">{{ order.subtotal_price | money }}</td>
              </tr>

              {% for discount in order.discounts %}
                <tr>
                  <td colspan="4" class="d-none d-md-block">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
                  <td data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</td>
                </tr>
              {% endfor %}

              {% for shipping_method in order.shipping_methods %}
                <tr>
                  <td colspan="4" class="d-none d-md-block">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                  <td data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                </tr>
              {% endfor %}

              {% for tax_line in order.tax_lines %}
                <tr>
                  <td colspan="4" class="d-none d-md-block">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                  <td data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                </tr>
              {% endfor %}

              <tr>
                <td colspan="4" class="d-none d-md-block">{{ 'customer.order.total' | t }}</td>
                <td data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money }} {{ order.currency }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="col-md-4">
        <div class="account__details">
          <h3>{{ 'customer.account.details' | t }}</h3>
          <p><strong>{{ 'customer.order.billing_address' | t }}</strong></p>
          {{ order.billing_address | format_address }}

          <p><strong>{{ 'customer.order.shipping_address' | t }}</strong></p>
          {{ order.shipping_address | format_address }}

          <a href="{{ routes.account_addresses_url }}" title="{{ 'customer.account.view_addresses' | t }}">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
          <a href="{{ routes.account_url }}" title="{{ 'customer.account.view_order_history' | t }}">{{ 'customer.account.view_order_history' | t }}</a>
          <a href="{{ routes.account_logout_url }}" class="medium-down--hide" title="{{ 'layout.customer.log_out' | t }}">{{ 'layout.customer.log_out' | t }}</a>
        </div>
      </div>
    </div>
  </div>
</div>