<script src="{{ 'account.js' | asset_url }}" defer="defer"></script>
{{ 'account.css' | asset_url | stylesheet_tag }}

<div class="account">
  <div class="container">
    <h1 class="text-center">{{ 'customer.account.order_history' | t }}</h1>

    {% render 'account-page-selector' %}

    <div class="row">
      <div class="col-m-8">
        <div class="account__orders" data-account-dashboard-orders>
          {% if customer.orders.size != 0 %}
            {% for order in customer.orders %}
              <div class="account__order{% if forloop.first %} active{% endif %}" data-account-dashboard-order>
                <button class="account__order-toggle d-md-none" data-account-dashboard-order-toggle>
                  <span>{{ 'customer.orders.order_number' | t }}&nbsp;{{ order.order_number }}</span>
                  {%- render 'icon-plus' -%}
                  {%- render 'icon-minus' -%}
                </button>

                <div class="account__order-info">
                  <div class="account__order-image">
                    {% assign order_product = order.line_items[0].product %}

                    <a href="{{ order_product.url }}" title="{{ order_product.title }}">
                      <img src="{{ order_product.featured_image | img_url: '120x' }}" alt="{{ order_product.title }}">
                    </a>
                  </div>

                  <div class="account__order-details">
                    <p class="d-none d-md-block">{{ 'customer.orders.order_number' | t }}&nbsp;{{ order.order_number }}</p>
                    <p><strong>{{ 'customer.orders.date' | t }}</strong>&nbsp;{{ order.created_at | date: '%b, %d, %Y' }}</p>
                    <p><strong>{{ 'customer.orders.status' | t }}</strong>&nbsp;{{ order.fulfillment_status_label }}</p>
                    <p class="account__order-total"><strong>{{ 'customer.orders.total' | t }}</strong>&nbsp;{{ order.total_price | money }}</p>

                    <div class="account__order-actions">
                      <a href="{{ order.customer_url }}" title="{{ 'customer.orders.details' | t }}">{{ 'customer.orders.details' | t }}</a>

                      {% if order.order_status_url != blank %}
                        <div class="account__order-track">
                          <a href="{{ order.order_status_url }}" target="_blank" title="{{ 'customer.orders.track' | t }}">
                            {{- 'customer.orders.track' | t -}}
                          </a>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="account__empty">
              <p>{{ 'customer.orders.none' | t }}</p>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="col-m-4">
        <div class="account__details">
          <h3>{{ 'customer.account.details' | t }}</h3>
          {{ customer.default_address | format_address }}
          <a href="{{ routes.account_addresses_url }}" title="{{ 'customer.account.view_addresses' | t }}">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
          <a href="{{ routes.account_logout_url }}" class="medium-down--hide" title="{{ 'layout.customer.log_out' | t }}">{{ 'layout.customer.log_out' | t }}</a>
        </div>
      </div>
    </div>
  </div>
</div>