{{ 'promobar.css' | asset_url | stylesheet_tag }}

<div class="promobar color-{{ section.settings.color_scheme }}" role="region" aria-label="Promo Bar">
  <div class="container">
    <div class="row">
      {% if section.settings.left_text != blank %}
        <div class="d-none d-lg-block col-md-3 p--small">
          {% if section.settings.left_link != blank %}
            <a href="{{ section.settings.left_link }}" title="{{ section.settings.left_text }}">
              {{ section.settings.left_text }}
            </a>
          {% else %}
            <span>
              {{ section.settings.left_text }}
            </span>
          {% endif %}
        </div>
      {% endif %}

      {% if section.settings.center_text != blank %}
        <div class="col-lg-6 {% if section.settings.left_text == blank %}offset-lg-3{% endif %} p--small text-center">
          {% if section.settings.center_link != blank %}
            <a href="{{ section.settings.center_link }}" title="{{ section.settings.center_text }}">
              {{ section.settings.center_text }}
            </a>
          {% else %}
            <span>
              {{ section.settings.center_text }}
            </span>
          {% endif %}
        </div>
      {% endif %}

      {% if section.settings.right_text != blank %}
        <div class="d-none d-lg-block col-lg-3 p--small text-right">
          {% if section.settings.right_link != blank %}
            <a href="{{ section.settings.right_link }}" title="{{ section.settings.right_text }}">
              {{ section.settings.right_text }}
            </a>
          {% else %}
            <span>
              {{ section.settings.right_text }}
            </span>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Promobar",
    "settings": [
      {
        "type": "header",
        "content": "Left Text"
      },
      {
        "type": "text",
        "id": "left_text",
        "label": "Left Text"
      },
      {
        "type": "url",
        "id": "left_link",
        "label": "Left Link"
      },
      {
        "type": "header",
        "content": "Center Text"
      },
      {
        "type": "text",
        "id": "center_text",
        "label": "Center Text"
      },
      {
        "type": "url",
        "id": "center_link",
        "label": "Center Link"
      },
      {
        "type": "header",
        "content": "Right Text"
      },
      {
        "type": "text",
        "id": "right_text",
        "label": "Right Text"
      },
      {
        "type": "url",
        "id": "right_link",
        "label": "Right Link"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label"
      }
    ]
  }
{% endschema %}