<script src="{{ 'featured-collection.js' | asset_url }}" defer="defer"></script>
{{ 'featured-collection.css' | asset_url | stylesheet_tag }}

<featured-collection
  class="featured-collection featured-collection--{{ section.id }}"
  role="region"
  aria-label="Featured Collection"
  data-swiper-slider
>
  <div class="featured-collection__container container swiper d-flex flex-column" data-swiper-slider>

    {% render 'section-header',
      section_name: 'featured-collection',
      preheader: section.settings.preheader,
      title: section.settings.title,
      copy: section.settings.copy,
    %}

    <div class="featured-collection__slides swiper-wrapper">
      {% for product in section.settings.collection.products %}
        {% render 'product-card', product: product, classes: 'swiper-slide' %}
      {% endfor %}
    </div>

    {% if section.settings.cta_link and section.settings.cta_text %}
      <div class="featured-collection__button text-center">
        <a href="{{ section.settings.cta_link }}" title="{{ section.settings.cta_text }}" class="btn">
          {{ section.settings.cta_text }}
        </a>
      </div>
    {% endif %}

    <div class="featured-collection__navigation">
      <button class="swiper-button-prev d-inline" aria-label="Previous slide" data-swiper-prev>
        {% render 'icon-button-prev' %}
      </button>
      <button class="swiper-button-next d-inline" aria-label="Next slide" data-swiper-next>
        {% render 'icon-button-next' %}
      </button>
    </div>
  </div>
</featured-collection>

{% render 'section-spacing', section_name: 'featured-collection' %}

{% style %}
  .featured-collection--{{ section.id }} {
    --cta-text-color: {{ section.settings.cta_text_color }};
    --cta-bg-color: {{ section.settings.cta_bg_color }};
    --cta-border-color: {{ section.settings.cta_border_color }};
    --cta-text-color-hover: {{ section.settings.cta_text_color_hover }};
    --cta-bg-color-hover: {{ section.settings.cta_bg_color_hover }};
    --cta-border-color-hover: {{ section.settings.cta_border_color_hover }};
  }
{% endstyle %}

{% schema %}
  {
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      FRAGMENT.basic-content,
      FRAGMENT.cta-button,
      FRAGMENT.color-scheme,
      FRAGMENT.section-spacing
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}