{%- comment -%}
  PARAMETERS:
  option : option object (required)
  display_selected_value_text : boolean (optional)
  type : 'radio', 'swatch', 'select' (required)
  product : product object (requried)
  id : Input ID if there is an associated label with a matching 'for' attribute (optional)
  form_id: The ID of the related product form

  USAGE:
  {% render 'product-option' with
    option: option,
    display_selected_value_text: true,
    type: 'swatch',
    product: product,
    form_id: form_id
  %}
{%- endcomment -%}

{%- liquid
  assign id_prefix = 'product-swatch-' | append: section.id | append: '-' | append: product.id
	if type == 'swatch'
    assign swatch_metafields = shop.metafields.custom_fields.swatches
  endif
-%}

<fieldset class="product-option"
  data-product-option-group
  data-option-name="{{ option.name | handleize }}"
  data-option-index="{{ option.position }}"
  data-type="{{ type }}"
>
  <legend>
    <strong>{{ option.name }}{%- if display_selected_value_text == true -%}:&nbsp;{% endif %}</strong>
    {%- if display_selected_value_text == true -%}
      <span class="visually-shown" data-product-option-group-selected-text>{{ option.selected_value }}</span>
    {%- endif -%}
  </legend>

  {% if type == 'radio' or type == 'swatch' %}
    <div class="product-option__option-values">
      {% for value in option.values %}
        {% assign swatch_meta_value = swatch_metafields | where: 'color_value', value | first %}
        <div class="product-option-item
          product-option-item--{{ option.name | handleize }}
          {% if type == 'swatch' and swatch_meta_value != blank %}product-option-item--swatch{% else %}product-option-item--radio{% endif %}"
          data-product-option-item
        >
          <input type="radio"
            id="{{ id_prefix }}-{{ value | handleize }}"
            value="{{ value }}"
            name="{{ id_prefix }}-{{ option.name | handleize }}"
            {% if option.selected_value == value %}checked{% endif %}
            data-product-option
            data-option-index="{{ option.position }}"
            data-type="radio"
            data-selected-text="{{ value }}"
            {% if form_id %}form="{{ form_id }}"{% endif %}
          />
          <label for="{{ id_prefix }}-{{ value | handleize }}">
            {% if type == 'swatch' and swatch_meta_value != blank %}
              <div class="product-option-item__swatch product-option-item__swatch--{{ value | handleize }}"
                style="{%- if swatch_meta_value.swatch_hex != blank -%}background-color:{{ swatch_meta_value.swatch_hex }};{%- endif -%}
                  {%- if swatch_meta_value.swatch_image != blank %}background-image:url({{ swatch_meta_value.swatch_image }});{%- endif -%}"
              ></div>
              <span class="visually-hidden">
                {{ value }}
              </span>
            {% else %}
              <span>{{ value }}</span>
            {% endif %}
          </label>
        </div>
      {% endfor %}
    </div>
  {% elsif type == 'select' %}
    <dropdown-select>
      <select name="{{ id_prefix }}-{{ option.name | handleize }}" data-product-option>
        {%- for value in option.values -%}
          <option value="{{ value }}" data-product-option-option
            data-option-index="{{ option.position }}"
            {% if option.selected_value == value %}selected{% endif %}
          >{{ value }}</option>
        {%- endfor -%}
      </select>
    </dropdown-select>
  {% endif %}
</fieldset>