<footer class="site-footer medium-down--text-center" role="contentinfo" aria-label="Site Footer">
  <div class="container">
    <div class="row">
      <div class="main-col col-12 col-md-5 text-center text-md-left">
        <h2 class="heading-3">{{ section.settings.title }}</h2>
        <p class="p--small">{{ section.settings.copy }}</p>
      </div>

      <div class="col">
        <h3 class="heading-5">{{ linklists[section.settings.menu_1].title }}</h3>

        <ul class="no-bullets">
          {% for link in linklists[section.settings.menu_1].links %}
            <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="col">
        <h3 class="heading-5">{{ linklists[section.settings.menu_2].title }}</h3>

        <ul class="no-bullets">
          {% for link in linklists[section.settings.menu_2].links %}
            <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="col">
        <h3 class="heading-5">{{ linklists[section.settings.menu_3].title }}</h3>

        <ul class="no-bullets">
          {% for link in linklists[section.settings.menu_3].links %}
            <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="inline-list footer-socials text-center text-md-left">
          {% if section.settings.facebook_link != blank %}
            <li>
              <a href="{{ section.settings.facebook_link }}" target="_blank" title="Facebook Link">
                {% render 'icon-facebook' %}
              </a>
            </li>
          {% endif %}

          {% if section.settings.twitter_link != blank %}
            <li>
              <a href="{{ section.settings.twitter_link }}" target="_blank" title="Twitter Link">
                {% render 'icon-twitter' %}
              </a>
            </li>
          {% endif %}

          {% if section.settings.instagram_link != blank %}
            <li>
              <a href="{{ section.settings.instagram_link }}" target="_blank" title="Instagram Link">
                {% render 'icon-instagram' %}
              </a>
            </li>
          {% endif %}
        </ul>

        <div class="site-footer__copyright text-center text-md-left">
          <small>&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</small>
        </div>
      </div>
    </div>
  </div>
</footer>

{% style %}
  .site-footer {
    --background-color: {{ section.settings.bg_color }};
  }
{% endstyle %}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      FRAGMENT.bg-color("#F4F4F4"),
      {
        "type": "header",
        "content": "Brand Info"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Copy"
      },
      {
        "type": "header",
        "content": "Menus"
      },
      {
        "type": "link_list",
        "id": "menu_1",
        "label": "Menu 1",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "menu_2",
        "label": "Menu 2",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "menu_3",
        "label": "Menu 3",
        "default": "footer"
      },
      {
        "type": "header",
        "content": "Social Links"
      },
      {
        "type": "text",
        "id": "facebook_link",
        "label": "Facebook URL"
      },
      {
        "type": "text",
        "id": "instagram_link",
        "label": "Instagram URL"
      },
      {
        "type": "text",
        "id": "twitter_link",
        "label": "Twitter URL"
      }
    ]
  }
{% endschema %}