<script src="{{ 'product-recommendations.js' | asset_url }}" defer="defer"></script>
{{ 'product-recommendations.css' | asset_url | stylesheet_tag }}

<product-recommendations class="product-recommendations"
  {% if section.settings.enable_dynamic_recommendations -%}
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.item_limit }}&intent={{ section.settings.intent }}"
  {%- endif -%}
>
  <div class="container">
    <h2 class="product-recommendations__heading heading-3">{{ section.settings.heading | escape }}</h2>
    {%- liquid
      if section.settings.enable_dynamic_recommendations == true
        if recommendations.performed and recommendations.products_count > 0
          assign reco_product_list = recommendations.products
        elsif recommendations.performed and recommendations.products_count == 0
          assign reco_product_list = section.settings.product_list
        endif
      else
        assign reco_product_list = section.settings.product_list
      endif
    -%}

    <div class="row" data-reco-products-container>
      {%- if reco_product_list -%}
        {%- for product in reco_product_list limit: section.settings.item_limit -%}
          <div class="col-md-3">
            {%- render 'collection-item', product: product, display_color_options: true -%}
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</product-recommendations>

{%- render 'section-spacing', section_name: 'product-recommendations' -%}

{% schema %}
  {
    "name": "Product Recommendations",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Product Recommendations"
      },
      {
        "type": "number",
        "id": "item_limit",
        "label": "Item Limit",
        "default": 4
      },
      {
        "type": "header",
        "content": "Products"
      },
      {
        "type": "checkbox",
        "id": "enable_dynamic_recommendations",
        "label": "Enable Dynamic Products",
        "default": true,
        "info": "If checked, products will be loaded dynamically using [Shopify's recommendation engine](https://shopify.dev/themes/product-merchandising/recommendations#recommendation-logic)."
      },
      {
        "type": "radio",
        "id": "intent",
        "label": "Dynamic Product Intent",
        "default": "related",
        "options": [
          {
            "label": "Related",
            "value": "related"
          },
          {
            "label": "Complementary",
            "value": "complementary"
          }
        ],
        "info": "\"Complementary\" and \"Related\" products can be manually set up using the [Shopify Search & Discovery app](https://apps.shopify.com/search-and-discovery?shpxid=6bb713b5-11B3-429B-2A72-3907A1E9AEDD)"
      },
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Default Products",
        "info": "The selected products will load when Enable Dynamic Products is unchecked or if there are no recommended products"
      },
      FRAGMENT.section-spacing
    ],
    "presets": [
      {
        "name": "Product Recommendations"
      }
    ]
  }
{% endschema %}