<!doctype html>
<html data-site-html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes"/>
    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '64x64' }}" type="image/png"/>
    {% endif %}

    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'og-tags' %}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
    {% render 'style-fonts' %}
    {% render 'window-theme' %}
    {% render 'script-tags', layout: 'theme' %}
    {% render 'style-tags', layout: 'theme' %}

    {{ content_for_header }}
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} {% if template.suffix %}template-{{ template.suffix }}{% endif %}" data-site-body>
    <a class="visually-hidden skip-link" href="#siteContent" title="{{ 'general.accessibility.skip_to_content' | t }}">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {% section 'mobile-mega-menu' %}
    {% section 'ajaxcart' %}

    <div class="site-overlay" data-site-overlay></div>

    {% section 'promobar' %}

    <header class="site-header" role="banner" aria-label="Site Header">
      <div class="container">
        <div class="row">
          <div class="col-2 col-lg-5 align-self-center">
            <popup-toggle data-target="mobile-mega-nav" data-action="open">
              <button class="d-lg-none" type="button" aria-label="Menu" data-drawer-toggle="menu">
                {% render 'icon-menu' %}
              </button>
            </popup-toggle>
          </div>

          <div class="col-8 col-lg-2 align-self-center text-center">
            <div class="site-header__logo">
              <a href="{{ routes.root_url }}" title="{{ shop.name }} Logo">
                {% if settings.logo != blank %}
                  <img src="{{ settings.logo | img_url: '1024x1024' }}" alt="{{ shop.name }} Logo">
                {% else %}
                  <h2 class="heading-4">{{ shop.name }}</h2>
                {% endif %}
              </a>
            </div>
          </div>

          <div class="site-header__controls col-2 col-lg-5 align-self-center text-right">
            <div class="row">
              <div class="col col-lg-auto d-none d-lg-block align-self-center">
                {% render 'search-bar' %}
              </div>

              <div class="col col-lg-auto d-lg-block align-self-center">
                {% if settings.ajaxcart == true %}
                  <popup-toggle data-target="ajaxcart" data-action="open">
                    <button type="button" aria-label="Cart">
                      {% render 'icon-cart' %}
                    </button>
                  </popup-toggle>
                {% else %}
                  <a href="{{ routes.cart_url }}" title="{{ 'cart.general.title' | t }}">
                    {% render 'icon-cart' %}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        {% comment %} Mega Menu {% endcomment %}
        <div class="d-none d-lg-flex">
          <mega-menu class="megamenu d-none d-lg-block" role="navigation" aria-label="Mega menu">

            {% comment %} Level one menu {% endcomment %}
            <ul class="megamenu__container container d-flex justify-content-center" role="menu">
              {% sections 'navigation-group' %}
            </ul>
          </mega-menu>
        </div>
      </div>
    </header>

    <div class="site-container" data-site-container>
      <main id="siteContent" class="site-content" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>

    {% comment %}For Development{% endcomment %}
    {% assign theme_handled = theme.name | handleize %}
    {% if theme_handled contains 'dev' %}
      {% style %}
        #preview-bar-iframe {
          display: none !important;
        }

        html {
          padding-bottom: 0 !important;
        }
      {% endstyle %}
    {% endif %}

    {% render 'schema' %}
  </body>
</html>
